body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    background-color: #75757535;
    border: solid #5252529f 1px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #5252529f;
    border: solid #5252529f 1px;
}